<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Psych-At</title>
    <script type="text/javascript" src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div class="header">
        <h2>PSYSCH-At</h2>
    </div>
    <div class="main">
        <h4>Mental illness is not a choice, but recovery is.</h4>
        <h4>You are worth more than your darkness.</h4>
    </div>
    <div class="submit">
        <h4>Enter Your Name</h4>
        <form action="http://localhost:5000/record" method="post">
            <input class="name" type="text" name="name" id="name1" required>
            <input class="submit-button" type="submit" name="Submit">
        </form>
    </div>
    <div class="grid">
        <div class="box">
            <h2>Anxeity</h2>
            <p>Anxeity disorders can be deliberating, but they can be managed with proper help from a medical professional. Recognizing the symptoms is the first step</p>
        </div>
        <div class="box">
            <h2>Insomnia</h2>
            <p>Chronic insomnia is usually a result of stress, life events or habits that disrupt sleep. Treating the undelying cause can resolve the insomnia, but sometimes it can last for years</p>
        </div>
        <div class="box">
            <h2>Hopelessness</h2>
            <p>Hopelessness can happen when someone is going through difficult times or painfull experiences. Or you might feel hopeless without a specific reason</p>
        </div>
        <div class="box">
            <h2>Ruminative Thinking</h2>
            <p>Ruminative refers to the tendency to repetitively think about the causes, situational factors, and consequences of one's negative emotional experience</p>
        </div>
        <div class="box">
            <h2>Poor Appetite</h2>
            <p>When you first begin to lose your appetite to depression, you hardly notice. Lack of appetite is one of many signs of depression and can be a symptom of medical conditions</p>
        </div>
        <div class="box">
            <h2>Irritability</h2>
            <p>Irritability is a reduced control over one's temper that results in angry outbursts and is listed  as a core symptom of depression for children and adolescents</p>
        </div>
    </div>
</body>
</html>