<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Psych-At</title>
    <script type="text/javascript" src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="predict.css">
</head>
<body>
    <div class="header">
        <h2>PSYSCH-At</h2>
    </div>
    <div class="content">
        <h2>Your result is ...</h2>
        <h2>Mildly Depressed.</h2>
        <h3>Ways to cure mild depression:</h3>
        <p>Visiting a doctor is often a good way to start dealing with depression.</p>
        <p>Treat your mental status by changing your lifestyle in possible ways such as altering your diet and sleep patterns or even by improving your work life balance.</p>
        <h4>Never lose hope!</h4>
    </div>
</body>
</html>